// Prepares the placeholderify element to be used as a placeholder.
@mixin placeholderify-element($packageName: 'placeholderify') {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}

// Adds a lighten effect to the whole element.
@mixin placeholderify-cover($packageName: 'placeholderify') {
  &::before {
    content: "";
    background-color: white;
    inset: 0;
    opacity: var(--placeholderify-opacity, 70%);
    position: absolute;
    z-index: 1;
  }
}

// Adds animation to the placeholder glow effect.
@mixin placeholderify-animation($packageName: 'placeholderify') {
  @keyframes #{$packageName}-animation {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  // Adds a placeholder glow effect to the whole container.
  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background: var(--placeholderify-cover-background, linear-gradient(to right, color-mix(in srgb, var(--placeholderify-animation-color, #FFF) 0%, transparent) 40%, color-mix(in srgb, var(--placeholderify-animation-color, #FFF) 35%, transparent) 50%, color-mix(in srgb, var(--placeholderify-animation-color, #FFF) 0%, transparent) 60%) 50% 50%);
    animation-name: var(--placeholderify-cover-animation-name, placeholderify-animation);
    animation-duration: var(--placeholderify-cover-animation-duration, 0.5s);
    animation-timing-function: var(--placeholderify-cover-animation-timing-function, linear);
    animation-iteration-count: infinite;
  }
}

// Forces element to be placeholderified.
@mixin _placeholderify-force_styles($packageName: 'placeholderify') {
  background-color: var(--placeholderify-background-color, currentcolor);
  border-color: var(--placeholderify-background-color, currentcolor);
  color: var(--placeholderify-background-color, currentcolor);
  color: transparent;

  // Makes all inner elements invisible.
  * {
    visibility: hidden;
  }
}

@mixin placeholderify-force($packageName: 'placeholderify') {
  .#{$packageName}-force {
    @include _placeholderify-force_styles;
  }
}


// Converts common content block elements to colored squares.
@mixin placeholderify-placeholders($packageName: 'placeholderify') {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  mark,
  span,
  a {
    &:not(.#{$packageName}-ignore) {
      @include _placeholderify-force_styles;
    }
  }

  img:not(.#{$packageName}-ignore) {
    &::before {
      content: '';
      background-color: var(--placeholderify-background-color, currentcolor);
      position: absolute;
      inset: 0;
      vertical-align: middle;
    }
  }

  // Force converts inline blocks to colored squares if the parent block is ignored.
  .#{$packageName}-ignore {
    span,
    a {
      &:not(.#{$packageName}-ignore) {
        @include _placeholderify-force_styles;
      }
    }
  }
}

// Makes buttons text color the same as the background.
@mixin placeholderify-placeholders-buttons($packageName: 'placeholderify') {
  // a.btn,
  // a.button {
  //   border-color: var(--placeholderify-background-color, currentcolor);

  //   // Hides the text from buttons.
  //   &:not(.#{$packageName}-ignore) {
  //     color: transparent;
  //   }

  //   // Makes all inner elements invisible.
  //   * {
  //     visibility: hidden;
  //   }
  // }
}

@mixin placeholderify-placeholders-img($packageName: 'placeholderify') {
  img:not(.#{$packageName}-ignore) {
    filter: brightness(0);
    position: relative;
  }
}
