/* Apply general styles to the container to make the glow effect right. */
.placeholderify {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  user-select: none;

  /* Make all children elements transparent. */
  *:not(.placeholderify-ignore) {
    opacity: var(--placeholderify-opacity, 0.33);
  }

  *:not(:has(*), .placeholderify-ignore) {
    opacity: var(--placeholderify-opacity, 0.33);
  }

  *:has(*):not(.placeholderify-ignore) {
    opacity: 1;
  }

  /* Add a placeholder glow effect to the whole container. */
  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: " ";
    background: var(--placeholderify-cover-background, linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 60%) 50% 50%);
    animation-name: var(--placeholderify-cover-animation-name, placeholderify-animation);
    animation-duration: var(--placeholderify-cover-animation-duration, 0.5s);
    animation-timing-function: var(--placeholderify-cover-animation-timing-function, linear);
    animation-iteration-count: infinite;
  }

  /* Add background with the text color to text elements. */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    &:not(.placeholderify-ignore) {
      background-color: var(--placeholderify-background-color, currentcolor);
    }
  }

  mark {
    &:not(.placeholderify-ignore) {
      background-color: var(--placeholderify-background-color, currentcolor);
    }
  }

  /* Make buttons text color the same as the background. */
  a.btn:not(.placeholderify-ignore) {
    color: transparent;
  }

  /* Force images to have a background color and the expected height even if not loaded. */
  img:not(.placeholderify-ignore) {
    display: inline-block;
    background-color: var(--placeholderify-background-color, black);
    color: transparent;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--placeholderify-background-color, black);
      content: " ";
    }
  }
}

/* Add animation to the placeholder glow effect. */
@keyframes placeholderify-animation {
  0% {
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    transform: translate3d(50%, 0, 0);
  }
}
