/* Apply general styles to the container to make the glow effect right. */
.placeholderify {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}

/* Add a placeholder glow effect to the whole container. */
.placeholderify::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: " ";
  background: linear-gradient(to right, rgb(255 255 255 / 0%) 40%, rgb(255 255 255 / 35%) 50%, rgb(255 255 255 / 0%) 60%) 50% 50%;
  animation: placeholderify-animation 0.8s linear infinite;
}

/* Make all children elements transparent. */
.placeholderify * {
  opacity: 0.33;
}

.placeholderify *:not(:has(*)) {
  opacity: 0.33;
}

.placeholderify *:has(*) {
  opacity: 1;
}

/* Add background with the text color to text elements. */
.placeholderify p,
.placeholderify h1,
.placeholderify h2,
.placeholderify h3,
.placeholderify h4,
.placeholderify h5,
.placeholderify h6,
.placeholderify span {
  background-color: currentcolor;
}

mark {
  background: currentcolor;
}

/* Make buttons text color the same as the background. */
.placeholderify a.btn {
  color: transparent;
}

/* Force images to have a background color and the expected height even if not loaded. */
.placeholderify img {
  display: inline-block;
  background-color: gray;
  color: transparent;
}

/* Add animation to the placeholder glow effect. */
@keyframes placeholderify-animation {
  0% {
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes placeholderify-animation {
  0% {
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    transform: translate3d(50%, 0, 0);
  }
}
